<div class="mb-2">
    <p class="text-gray-700 text-sm">
        <time class="inline-block" datetime="{{ post.created_at }}">
            {{ post.created_at|date('M d. Y') }}
        </time>
    </p>
</div>
