<div class="bg-gray-100 p-4 rounded-lg shadow-md mb-6">
    <a href="{{ url_for('post', { 'post-slug': post.slug }) }}">
        <p class="title mb-1 text-lg transition-color duration-300 hover:text-green-700">
            {{ post.title }}
        </p>
    </a>

    {% include '_partials/date.twig' %}
    {% include '_partials/tags.twig' with {'tags': post.tags} only %}
</div>
