# IDE / Editor
.idea/
.vscode/

# Project file
/coverage/
/vendor/
/bin/convert/vendor/

storage/*
storage/templates/*/_exclude/
!storage/logs/.gitkeep
!storage/uploads/.gitkeep
!storage/templates

.phpunit.result.cache

public/static/theme
public/static/uploads
public/sitemap.*

.env.php

composer.phar
.DS_STORE

# keys
*.pem
*.key
*.ppk
*.p12
*.pfx
*.crt
*.cer
*.der
