{% import "helpers/macros.twig" as macros %}
{% extends '_layout.twig' %}

{% block title %}
    {% if page_title %}
        {{ page_title }} /
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <main class="container">
        <h1>Posts Tagged: <a href=""><span class="btn btn-xs btn-tag">{{ tag_name }}</span></a></h1>
        <!-- <article>Content</article> -->
        {% for post in posts %}
            {% include '_partials/post-card.twig' %}
        {% endfor %}
        {% include '_partials/paginator.twig' %}
    </main>
{% endblock %}
