{% extends '_layout.twig' %}

{% block title %}
    Tag Archive / {{ parent() }}
{% endblock %}

{% block body %}
    <main class="container">
        <h1>Tags</h1>

        <div class="font-mono text-md">
            {% for tag in tags %}
                <div class="mb-6">
                    <span class="btn p-1 bg-black text-white">{{ tag.cnt }}</span>
                    <a href="{{ url_for('tag', { 'tag-slug': tag.slug }) }}">
                        <span class="btn btn-xs btn-tag">{{ tag.name }}</span>
                    </a>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
