<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title -%}Admin panel{%- endblock %}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href="{{ base_path() }}/">

    <meta name="description" content="description here">
    <meta name="keywords" content="keywords,here">

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 font-sans leading-normal tracking-normal">
    <!-- Header -->
    {% include '@admin/_partial_tailwind/header.twig' %}
    <!-- /Header -->

    <!--Container-->
    <div class="container w-full mx-auto pt-10">
    <div class="w-full px-4 md:px-0 md:mt-8 mb-16 text-gray-800 leading-normal">
        <!-- Console Content -->
        {% block body %}{% endblock %}
        <!--/ Console Content -->
    </div>
    </div>
    <!--/container-->

    <!-- Footer -->
    {% include '@admin/_partial_tailwind/footer.twig' %}
    <!-- /Footer -->

    <link href="static/theme/admin/assets/fontawesome-5/css/all.css" rel="stylesheet">

    {% block footer_script %}{% endblock %}
</body>
</html>
