{% extends '@admin/_layout_tailwind.twig' %}

{% block body %}
<div class="flex h-screen bg-gray-50 dark:bg-gray-900">
 <div class="flex flex-col flex-1 w-full">
    <main class="h-full pb-16 overflow-y-auto">
      <div class="container grid px-6 mx-auto">
        <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
          All posts
        </h2>

        <div class="w-full overflow-hidden rounded-lg shadow-xs">
          <div class="w-full overflow-x-auto">
            <table class="w-full whitespace-no-wrap">
              <thead>
                <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                  <th class="px-4 py-3">Name</th>
                  <th class="px-4 py-3">Status</th>
                  <th class="px-4 py-3">Created at</th>
                  <th class="px-4 py-3">Updated at</th>
                  <th class="px-4 py-3">Actions</th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
              {% for post in posts %}
                {% include '@admin/_partial_tailwind/post_row.twig' %}
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800">
            <span class="flex items-center col-span-3">
            {#
              Showing 21-30 of 100
            #}
            </span>

            <span class="col-span-2"></span>
            <!-- Pagination -->
            {% include '@admin/_partial_tailwind/pagination.twig' %}
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
{% endblock %}
