<ul style="font-size: 15px;">
    <li><a href="{{ url_for('tag_list') }}">Tags</a></li>
    <!-- <li><a href="https://github.com/nhymxu" target="_blank">github</a></li> -->
    <li><a href="https://goo.gl/IPnXxD" target="_blank">Contact</a></li>
    <!-- <li><a href="https://yeu.dungnt.net/heart.html" target="_blank">Big heart</a></li> -->
</ul>
