@charset "UTF-8";

.hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    background: #eaeef3;
    color: #00193a
}

.hljs-doctag, .hljs-keyword, .hljs-name, .hljs-section, .hljs-selector-tag, .hljs-strong, .hljs-title {
    font-weight: 700
}

.hljs-comment {
    color: #738191
}

.hljs-addition, .hljs-built_in, .hljs-literal, .hljs-name, .hljs-quote, .hljs-section, .hljs-selector-class, .hljs-selector-id, .hljs-string, .hljs-tag, .hljs-title, .hljs-type {
    color: #0048ab
}

.hljs-attribute, .hljs-bullet, .hljs-deletion, .hljs-link, .hljs-meta, .hljs-regexp, .hljs-subst, .hljs-symbol, .hljs-template-variable, .hljs-variable {
    color: #4c81c9
}

.hljs-emphasis {
    font-style: italic
}

body, html {
    font: 16px/1.618 Anonymous Pro, monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility
}

h1, h2, h3, h4, h5, h6 {
    font-family: space mono, monospace;
}

@media (max-width: 44rem) {
    body, html {
        font-size: 14px
    }

}

.container {
    max-width: 43rem;
    margin: 0 auto
}

@media (max-width: 44rem) {
    .container {
        max-width: 100%;
        margin: 0 1rem
    }

}

a {
    color: #0048ab;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

/* a[target="_blank"]:after {} */
.container-link a:not([href*='dungnt.net']):not([href^='nhymxu.info']):not([href^='localhost']):not([href^='#']):not([href^='/']):after {
    content: " " url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);
}

ul {
    list-style-type: square
}

@media (max-width: 44rem) {
    ul {
        margin: 0;
        padding: 0 0 0 1rem
    }

}

code, pre {
    font-family: monospace;
    font-size: 14px;
}

code {
    background-color: #f4f6f9 !important;
    padding: 2px 5px
}

pre {
    direction: ltr !important;
    line-height: 1.618 !important
}

blockquote {
    color: #666;
    font-style: italic
}

hr {
    border: 1px solid #ededed;
    border-bottom: none;
    margin: 2rem 0
}

.article-list a {
    color: #56445d
}

.article-list article {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: .4rem
}

.article-list time {
    color: #aaabd3;
    display: block;
    margin-right: 1rem;
    white-space: nowrap
}

.article-list h3, .article-list h4 {
    margin: 0
}

.article-list h3 {
    margin-top: 2rem
}

.article-list h3:after {
    content: " ¬"
}

article .title::before {
    content: '#';
    color: #CCC;
    margin-right: 8px;
    margin-left: -20px;
    font-weight: normal;
}

.article .time, .article .title {
    margin: 0
}

.article .time {
    color: #aaabd3;
    font-weight: 400
}

.article .content {
    color: #222;
    font-family: open sans, sans-serif;
}

.article img {
    max-width: 100%;
    margin: 0 auto 1rem;
    display: block
}

.delimiter {
    border-top: 1px solid #ededed
}

.delimiter .logo {
    transform: translateY(-50%);
    width: 2rem;
    height: 2rem;
    display: block;
    margin: 0 auto;
    padding: 0 1rem;
    background-color: #fff
}

.delimiter .logo img {
    display: block;
    max-width: 100%
}

.comments {
    margin-top: 5rem
}

.pagination {
    margin: 5rem 0 -3rem
}

.pagination a {
    color: #56445d;
    font-size: .9rem
}

.pagination nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.pagination nav a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    text-align: left
}

.pagination nav a span {
    -ms-flex: 1;
    flex: 1
}

.pagination nav a i {
    font-style: normal;
    width: 1.5rem
}

.pagination nav a.next {
    text-align: right
}

.pagination nav a.next i {
    -ms-flex-order: 1;
    order: 1
}

header nav {
    margin: 2rem 0;
    padding: 0 0 1rem;
    border-bottom: 1px solid #ededed;
    display: -ms-flexbox;
    display: flex
}

header nav h1 {
    -ms-flex: 1;
    flex: 1;
    font-size: 1rem;
    font-weight: 400;
    margin: 0
}

header nav h1 a {
    color: #000
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center
}

header nav li {
    margin: 0 .5rem
}

header nav a {
    color: #56445d
}

footer {
    margin-top: 5rem;
    padding: 0 0 3rem
}

footer p {
    margin: 0;
    text-align: center;
    font-size: .9rem;
    color: #6e7783
}

footer p a {
    color: #3f454c
}

.other-tags {
    padding: 10px
}

.topic-tag {
    display: inline-block;
    padding: 4px 6px;
    /*margin: 5px;*/
    background: #eee;
    text-decoration: none;
    color: #e74c3c;
    font-size: 14px;
}
